@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	text-align: left;
	color: #000000;
	font-size: 1em;
	line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1;
}

ul,
li {
	list-style: none;
	list-style-position: outside;
}

img {
	margin: 0;
	padding: 0;
	border: 0;
	border-style: none;
	text-decoration: none;
	vertical-align: top;
}

object,
embed{
	vertical-align: bottom;
}

input {
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: #cccccc;
}

a:focus {
	outline: none;
}

table,
table th,
table td{
	border-collapse: collapse;
	text-align: left;
}

.clear {
	clear: both;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}