@charset "UTF-8";

body {
	background-image: url(../images/bg_loop.jpg);
	background-position: left top;
	background-repeat: repeat;
	font-family: Meiryo,verdana, "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
	font-size: 0.75em;
	line-height: 1.5em;
}

#container {
	width: 100%;
	height: 100%;
}

#content {
	width: 100%;
	height: 780px;
	margin: 0 auto;
	background-image: url(../images/bg_main.jpg);
	background-position: center top;
	background-repeat: no-repeat;
}

#main {
	width: 480px;
	margin: 0 auto;
}

#main h1,
#main h2 {
	text-align: center;
}

#main h1 {
	padding: 125px 0 12px 0;
}

#main ul {
	margin: 30px 0 0 240px;
	padding: 0 0 40px 0;
	border-left: 1px solid #4c545d;
}

#main ul li {
	padding: 0 0 10px 15px;
	-moz-transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg)
	transform: rotate(-15deg);
}

#main ul li.list01 a {
	color: #53d4ff;
}

#main ul li.list02 a {
	color: #648db6;
}

#main ul li.list03 a {
	color: #f85a0f;
}

#main ul li.list04 a {
	color: #0096db;
}

#main ul li a:hover {
	filter: alpha(opacity=70);
	-moz-opacity:0.7;
 	opacity:0.7;
}
